[2018-03-09 18:29] hozefaj opened #3 "TypeError: ErrorOverlayPlugin is not a constructor"
[code]

From the source code, looks like `ErrorOverlayPlugin` is a `class` and not a function constructor.

[2018-03-09 18:48] neoziro commented on #3
Try to get `.default` As a workaround it should be a problem in export. I will fix it soon.

[2018-03-10 14:59] tdd opened #4 "Breaks on object-shape `entry`"
Hey there!

Can't wait for it to work for me, but you're assuming `entry` is an Array, which it wouldn't be when `entry` it explicitly set to an object, for multiple entry chunks. Trying to `.unshift` on it obviously fails.

If `entry` is an object you should iterate over its `Object.entries(entry)` key/value pairs, normalize values as arrays and unshift in each of these, I guess.

[2018-03-10 18:04] natocTo opened #5 "Can this work on the top of webpack-serve?"
Hello, I am trying your plugin but not working. It is seems it is neccessary to use webpack-dev-server, is it true? I use Webpack-serve (https://github.com/webpack-contrib/webpack-serve).
Thanks for reply.

[2018-03-11 16:58] #4 closed

[2018-03-11 16:59] neoziro commented on #5
Editor opening require `webpack-dev-server` but error overlay will work with or without `webpack-dev-server`.

[2018-03-11 16:59] #5 closed

[2018-03-11 17:01] #3 closed

[2018-03-11 22:59] billyjanitsch commented on #3
@neoziro thanks a lot for addressing this! However the fix was a breaking change and ideally it should've been released as 0.2.0 to avoid breaking existing builds that used the 0.1.2 API. Maybe consider deprecating 0.1.3 and re-releasing?

[2018-03-12 03:27] kimsagro1 opened #8 "Not seeing error overlay"
Given the following files

`package.json`

[code]

`webpack.config.js`

[code]

`index.js`

[code]

`index.html`

[code]

Running `yarn webpack-dev-server`

results in a console error, but no overlay

[code]

[2018-03-12 07:18] neoziro commented on #3
You are right, sorry for that. I think the usage is still very moderate so I will not publish again.

[2018-03-12 10:11] alextrastero commented on #8
Pasting my config incase I have some incompatible plugins:
[code]

[2018-03-12 19:47] hipstersmoothie commented on #8
I seem to not be able to set 'mode'. is this a webpack 4 option?

[2018-03-13 21:34] hipstersmoothie opened #9 "Build Module in vanilla js"
when i install the module it is in es7. this caused me to spend the last day grappling with node version and trying to transpile the webpack plugin to no avail.

I would love it if when the the build is run through babel if you could transfrom Object.entries as well. I feel the dist/ folder should only have es3 in it and require no additional transpiling.

[2018-03-13 22:01] kimsagro1 commented on #8
@hipstersmoothie yep, see https://medium.com/webpack/webpack-4-mode-and-optimization-5423a6bc597a

[2018-03-13 22:26] neoziro commented on #8
`HtmlWebpackPlugin` is probably the source of the problem, can you confirm it?

[2018-03-14 02:06] kimsagro1 commented on #8
Removing `HtmlWebpackPlugin` had no effect

[2018-03-14 07:44] #9 closed

[2018-03-15 15:32] michaelkoelewijn commented on #8
Same problem on Webpack 3
`var Webpack = require('webpack');
var Config = require('webpack-config').default;
var ExtractTextPlugin  = require('extract-text-webpack-plugin');
var ErrorOverlayPlugin = require('error-overlay-webpack-plugin');
module.exports = new Config().extend('./webpack.config.base.js').merge({
    devtool: "source-map",
    output: {
        filename: '[name].js'
    },
    plugi

[2018-03-19 01:57] mattdsteele opened #12 "Does this work with Webpack 3?"
It's going to be a little while before my org can upgrade to Webpack 4, but I'd love to give this a shot now. Based on [this comment](https://github.com/smooth-code/error-overlay-webpack-plugin/issues/8#issuecomment-373418228), I'm curious if it would work with older version of Webpack?

[2018-03-19 08:41] neoziro commented on #12
I think it will not work on Webpack 3, but it could be, a few minor changes are required to add support. PR welcome.

[2018-03-21 22:34] mattdsteele commented on #5
Related: would this plugin work directly with [webpack-dev-middleware](https://github.com/webpack/webpack-dev-middleware)? I haven't been able to get it to run with my toolchain, and I'm not sure what's missing.

[2018-03-22 07:02] neoziro commented on #5
Yes it should, the plugin just adds an entry to your Webpack configuration, so technically it should work with all Webpack tools.

The only tricky part is the editor opening, only available with Webpack Dev Server. But it is not « the feature » of this plugin.

[2018-04-01 17:34] #12 closed

[2018-04-01 17:35] neoziro commented on #12
This is not plan for now, no Webpack 4, no error overlay 😆

[2018-04-02 23:20] emzero commented on #8
I can confirm this too. Not seeing the overlay.
Webpack 4.4.1
React 16.3.0

[code]

[2018-04-03 20:44] neoziro commented on #8
@emzero where are your `entry` in your config?

[2018-04-03 20:48] emzero commented on #8
@neoziro Using webpack 4 defaults (`./src`).

[2018-04-03 20:49] neoziro commented on #8
@emzero can you try to specify it and see if it is the source of your problem?

[2018-04-03 20:53] emzero commented on #8
Nope, same thing.

![image](https://user-images.githubusercontent.com/412489/38275337-ef795f90-3767-11e8-9eab-46df988ca6e5.png)

[2018-04-15 12:55] willwull commented on #8
Anyone got this working yet? Still not working for me @neoziro

[2018-04-15 17:47] neoziro commented on #8
Just set it up on another project and it works. It takes some time to display but still works.

[2018-04-15 17:48] neoziro commented on #8
@emzero it must be `HtmlWebpackPlugin` the source of the problem.

[2018-04-24 12:50] neoziro commented on #8
I don't have time to investigate it, if you experience this issue I will be glad if you could debug it to try what's going on. On my side, I use this plugin and it works but I do not use `HtmlWebpackPlugin`.

[2018-05-09 18:35] msteward commented on #8
I started having this "issue" when using ErrorBoundaries with React 16. React is handling the error now so I suspect it never makes it to the error overlay. If you're using ErrorBoundaries I suspect you'll need to handle this yourself and display some sort of error on the screen with the component stack trace when in development mode.

[2018-05-10 16:48] neoziro commented on #8
@msteward yes I think you are right, this plugin only catch uncaught exceptions. So if you use a ErrorBoundary, you should throw back the error to trigger the overlay.

[2018-05-14 08:54] gpbl commented on #8
I'm having a similar issue and I wonder where is the right place where to throw the error back? I tought to `throw` it from the ErrorBoundary component but clearly it doesn't work.

[2018-05-17 09:49] neoziro commented on #8
I can't reproduce it, if someone provide a real not working example I could take a look.

[2018-05-18 09:32] iafiawik opened #13 "Syntax error in Internet Explorer 11"
Hello,

I am using `ErrorOverlayPlugin` in a lot of projects and I cannot get it to work in Internet Explorer 11 (have not tried other versions).

My configuration:

[code]

The error I'm seeing is:
[code]

Line 19347 starts here:

[code]

Dependencies:

[code]

`.babelrc`:

[code]

The only workaround I've found so far is to simply remove `ErrorOverlayPlugin` from my `webpack.dev.js` when I want

[2018-05-20 20:13] gabriel-lopez-lopez commented on #13
Hi,
I´m having the same problem. Any solution for this?

thk

[2018-05-21 06:10] iafiawik commented on #13
@gabriel-lopez-lopez Not officially, but I'm using the following workaround at the moment:

[code]

This will include `error-overlay-webpack-plugin` in the Babel process, and also convert the arrow functions to IE friendly functions.

[2018-05-22 07:28] neoziro commented on #13
I don't have to fix it right now, but PR are welcome 🙏

[2018-05-24 17:42] gabriel-lopez-lopez commented on #13
Fantastic! works!
It's worth to me.
Thank you very much Sophie.

[2018-05-25 15:08] neoziro commented on #8
I think it was a browser relative issue, I hop it will be fixed by #15. Feel free to open a new issue if you experience the problem again.

[2018-05-25 15:08] #8 closed

[2018-05-25 15:09] #13 closed

[2018-06-06 08:24] swernerx opened #16 "Does not seem to work with webpack-serve - the new dev-server"
Hi! Thanks for the plugin. Really appreciated to have this kind of functionality widely available.

I am not exactly sure about details, but it seems like the plugin is not able to work together with [webpack-serve](https://github.com/webpack-contrib/webpack-serve) as a dev-server alternative. It probably registers some middleware to work, but does not correctly detect the alternative dev server c

[2018-06-12 16:46] neoziro commented on #16
Right now I am not on it, but all PR are welcome!

[2018-06-24 16:33] budarin commented on #16
I have the problem on webpack-serve too

[2018-06-24 19:15] budarin commented on #16
it needs something like this
[code]
into ```index.js```

[2018-07-03 12:13] yyynnn opened #17 "Custom themes"
Hey hey!
Great module!
Will there be any API for adding custom themes?

[2018-07-08 20:53] neoziro commented on #17
Not yet, but I am open to it!

[2018-07-11 09:13] siddharthkp commented on #8
Can we open this issue again?

Can't get it to work with `webpack@4.15.1` + `webpack-dev-server@3.1.4`

[2018-07-13 05:32] foisonocean commented on #8
@neoziro
After change my webpack devtool to `cheap-module-source-map`, I got this error:
![image](https://user-images.githubusercontent.com/15059605/42674148-158ac20e-86a1-11e8-8aa5-b918b558f794.png)

[2018-07-13 09:59] alextrastero commented on #8
This setup works for me FYI
[code]

[2018-08-26 13:22] ioanungurean opened #19 "Plugin not working with react-hot-loader"
Hi, I tried to include your plugin in my app but I could not find a way. There is no error or something similar. When I try to raise an error on purpose nothing happens. I can only see the stack trace in the console.

Did you try with `react-hot-loader`? Maybe I''m missing something.

[2018-08-27 00:26] ioanungurean commented on #8
@siddharthkp thank you, I was struggling for a while now and I could not understand why it's not working.

[2018-08-27 01:57] ioanungurean commented on #13
@iafiawik Hi, how did you managed to make the package work with `react-hot-loader`. I'm struggling to make it work but in order to display the error I have to refresh the page. Did you encounter such issues? Thanks in advance!

[2018-08-30 10:32] victorfern91 commented on #16
There is any update regarding this problem?

[2018-08-30 10:40] beshanoe commented on #19
As I investigated so far, the issue is not because of react-hot-loader in particular. I'm using custom solution based on webpack-hot-middleware and error overlay only works if it's entry included to entries list only after webpack-hot-middleware entry. Probably it could help with fixing the issue

[2018-08-30 10:42] beshanoe commented on #19
@ioanungurean but it would be much helpful if you provide an example to reproduce

[2018-08-30 14:07] ioanungurean commented on #19
@beshanoe thank you for answering. I'm not using `webpack-hot-middleware` but instead i'm using `webpack-dev-server` maybe this is the problem. I will provide an example as soon as I can.

[2018-08-30 14:11] ioanungurean commented on #19
This is the folder with the [example](https://github.com/ioanungurean/forge-react-app/tree/error_overlay/forge-react-app).

It displays the error overlay only if I refresh the page otherwise not.

[2018-09-04 11:12] neoziro commented on #19
Yes it is expected, actually it can't work with it. @thekashey

[2018-09-04 11:12] neoziro commented on #16
Could someone fix it in a PR?

[2018-09-04 14:29] ioanungurean commented on #19
@neoziro Hi, to confirm basically I cannot use this plugin with `react-hot-loader` and have the error overlay popup without refreshing the page? This is what are you saying?

I will close this issue if the plugin is not supposed to support this kind of behavior.

[2018-09-04 22:21] #19 closed, assigned to nobody

[2018-09-10 03:56] bitwhys commented on #8
@siddharthkp that worked for me as well. Thank you (fyi webpack @4.17.2)

[2018-09-20 12:45] amertak commented on #16
Webpack-serve is now [DEPRECATED] so I suggest not to fix this anymore and move away from webpack-serve back to webpack-dev-server.

[2018-09-26 09:18] #16 closed

[2018-10-02 10:18] iafiawik commented on #13
@ioanungurean No, can't recall that I encountered such issues.

[2018-10-25 06:26] dehghani-mehdi opened #21 "Doesn't work in Chrome when using with existing server, but works in Firefox"
Hi,

I have very simple [react starter kit](https://github.com/dehghani-mehdi/react-starter-kit). I followed [your simple instruction](https://github.com/smooth-code/error-overlay-webpack-plugin#usage) to add `error-overlay-webpack-plugin` then I add `throw new Error('Oops!');` to `Home` component's `constructor` to test your plugin, but it doesn't work and I got empty page.

[2018-10-27 08:54] dehghani-mehdi commented on #21
Sorry, I found out what was wrong, it was my configuration not your plugin.

[2018-10-27 13:51] dehghani-mehdi commented on #21
With Firefox everything is okay, but when I use 2 servers it doesn't work in Chrome.

More details:
1. Setup really simple website in IIS (just index.html) (IP: for ex. `192.168.1.100:500`)
2. Run Webpack dev server (`127.0.0.1:8080`)

In Chrome, if I visit `127.0.0.1:8080` everything works as expected
But If I visit `192.168.1.100:500`, I got blank page and error details only shows up in browser

[2018-10-28 07:57] dehghani-mehdi commented on #21
If you run Chrome using `chrome.exe --user-data-dir="C:/Chrome dev session" --disable-web-security`, it works, but as you know it's not best solution.

[2018-12-07 00:30] Yarchick opened #24 "Does not open editor when I click on the error"
![image](https://user-images.githubusercontent.com/15068620/49619854-24711900-f9c7-11e8-8c3c-e3f0fdf6f083.png)

webpack: 4.26.1

[code]

[2018-12-07 01:19] Yarchick commented on #24
I found a mistake
I have:
`fileName: webpack:///src/components/SomeComponent.js`,
right:
`fileName: ./src/components/SomeComponent.js`

Why i get the wrong address?
Probably I have somewhere incorrectly configured config.

[2018-12-07 09:30] Yarchick commented on #24
I fix this problem.

Need to add this line code for replace original disk location.
[code]

[2018-12-07 09:34] #24 closed

[2018-12-07 10:00] neoziro commented on #24
Great, thanks for the trick!

[2018-12-27 06:54] mohsinulhaq opened #26 "How do I preload the overlay chunk"
Whenever I get an error, the overlay takes quite a bit to show up as it seems that the component is fetched asynchronously. How do I preload this component?

[2018-12-27 07:36] #26 closed

[2018-12-27 08:50] neoziro commented on #26
@mohsinulhaq any solution?

[2018-12-27 09:18] mohsinulhaq commented on #26
I added preload to all async chunks to my webpack plugin, so it all worked

[2018-12-27 11:35] mohsinulhaq opened #27 "Is there any way to show overlay with the compiled stacktrace while sourcemap is being fetched?"
Right now, there is quite a noticeable delay in overlay showing up because it waits until sourcemap is fetched and parsed. Can I somehow show the compiled version of stacktrace in the overlay until that process is done, so that the overlay opens up immediately on error? Just like redbox-react.

[2018-12-27 12:50] mohsinulhaq commented on #27
@neoziro hi, could you please help me here?

[2018-12-27 17:49] neoziro commented on #27
I noticed that too, but unfortunately I don't have any solution for it...

[2019-01-09 16:50] mnlj opened #28 "JSX SyntaxError breaks this plugin"
I've set it up in my test project according to the Usage section and when I try a reference error as in the example, it works correctly. However, if I for example remove random closing tag in JSX, things break:
![overlay1](https://user-images.githubusercontent.com/11228958/50913941-cdcb8480-1435-11e9-80ad-ae311246cf4f.png)
![overlay2](https://user-images.githubusercontent.com/11228958/50913944-d02

[2019-01-11 14:07] neoziro commented on #28
Hello I am sorry I don't have time to investigate the bug. I added the badge, if someone have time to investigate it, it is welcome!

[2019-01-22 12:48] chrispcode commented on #28
Are you sure you have added the missing p tag. Just asking?

[2019-01-22 13:24] mnlj commented on #28
@chrispcode this is not about my code, it's about error showing properly in overlay. Missing p tag was a simulated syntax error, if such error happens in create-react-app, it shows it in the error overlay just fine, if it happens using this plugin, it breaks because react-error-overlay dependency loads wrong babel js and the visual output is stuck on the ansi coded garbage error.

[2019-02-18 12:11] tomzaku opened #29 "Is there anyway to use this without using 'create-react-app'"
I read this: https://github.com/smooth-code/error-overlay-webpack-plugin#usage but it's not working.

Dependences
[code]

[2019-02-19 08:37] neoziro commented on #29
Hello @tomzaku, could you please provide a repro example? Thanks.

[2019-02-22 02:39] tomzaku commented on #29
@neoziro thanks for your response. I created the repo at [this](https://github.com/tomzaku/react-ts)
In the file src/index.tsx has error at line 6. It throw error at terminal/ console. But it's not working with browser

[2019-02-25 06:50] neoziro commented on #29
The error seems to be a TypeScript error, I don't know how it works with TypeScript but it is not officially supported. You are on your own..

[2019-02-25 06:50] #29 closed

[2019-03-10 02:47] tungpin commented on #28
@mnlj this problem may because of terminal color character
use `/(\u001b\[\d*m)/g` can replace color character
![image](https://user-images.githubusercontent.com/29981970/54079964-7ce6e800-4321-11e9-8148-9650e3728253.png)

[2019-03-13 13:55] neoziro commented on #28
Thanks for the update @tungpin, feel free to submit a PR to fix this problem.

[2019-03-15 06:27] d12mnit opened #32 "Uncaught ReferenceError: process is not defined"
when I update to 0.1.7 , my project was broken.
here is the error message FYI
![image](https://user-images.githubusercontent.com/13366123/54412592-4a2c5d80-472e-11e9-86bf-d998440837b7.png)
and version 0.1.6 works fine for me.

[2019-03-18 14:37] tungpin commented on #32
this version is works for me, can you give me an repo or example to reproduce the error?

[2019-03-19 14:54] swernerx opened #33 "The new socket throws when using webpack-dev-middleware instead of dev-server"
We are using SSR and build our own server based around `webpack-dev-middleware`. With the latest update we see a regular issue when loading the page:

  `http://localhost:3000/sockjs-node/info?t=1553005986947 404 (Not Found)`

Unfortunately, the new code breaks for us using our own set-up. Do you mind adding an option to not enable the socket by default?

[2019-03-19 16:12] English3000 commented on #29
I also tried using this on my own with TypeScript. I'm getting an error message, but for the same syntax error (a missing `>` on the first tag) the message is different (and much less helpful) than for `create-react-app`

my project:
![image](https://user-images.githubusercontent.com/29601050/54622415-cc669b80-4a26-11e9-9f48-35e704b3a611.png)

CRA:
![image](https://user-images.githubusercontent.co

[2019-03-19 16:46] neoziro commented on #33
Hello @swernerx, thanks for your report! Could you submit a PR for it?

[2019-03-20 02:57] d12mnit commented on #32
I'v resolved this problem, it's my webpack config lead to this error.
[code]

[2019-03-20 02:57] #32 closed

[2019-03-20 11:02] swernerx commented on #33
Here we go, @neoziro https://github.com/smooth-code/error-overlay-webpack-plugin/pull/34

[2019-03-22 04:32] English3000 commented on #29
NVM, getting it like `CRA` now.

[2019-03-30 17:20] donnysim opened #35 "sockjs-node/info 404 when running devServer with proxy"
I'm using devServer with proxy, so the url I access is not `localhost:port` but something like `project.test` etc. and it tries to fetch `http://project.test/sockjs-node/info` which results in 404, where it should instead try to reach `http://localhost:port/sockjs-node/info`. HMR, overlay and everything else seems to work fine, but there's this constant 404 error about url not found.

Is there som

[2019-04-03 06:09] mohsinulhaq opened #36 "README says eval sourcemap is not supported. Is it still true?"
Is it true for only `eval` sourcemap or all eval-based sourcemaps like `cheap-module-eval-source-map`?

[2019-04-03 06:54] neoziro commented on #35
Hello @donnysim, I don't have time to dig more in your issue. I hope someone else could help you...

[2019-04-03 07:34] neoziro commented on #36
Hello @mohsinulhaq, to be honest, I don't know. Can you try and tell me? If you found something, feel free to submit a PR to adapt the readme.

[2019-04-05 14:46] mohsinulhaq commented on #36
Confirmed it doesn't work with any of the eval based sourcemaps.
Tried with:
[code]
Closing this issue.

[2019-04-05 14:46] #36 closed

[2019-04-12 02:55] qinyuanbin commented on #21
I have the same problem

[2019-04-12 06:30] neoziro commented on #21
Hello, a PR is welcome to try to fix it! Thanks!

[2019-04-17 05:18] dehghani-mehdi opened #37 "We currently do not inject our entry code into single-file anonymous entries error"
Hi,

Using `"error-overlay-webpack-plugin": "^0.2.0"` and `"webpack": "^4.30.0"`, I got this error:

Please use a multi-main (array) or object-form `entry` setting for now.
    at adjustEntry (PATH\node_modules\error-overlay-webpack-plugin\lib\index.js:56:11)

After removing `error-overlay-webpack-plugin` everything works fine.

[2019-04-17 21:39] vitormv commented on #37
Having same error here

[2019-04-17 22:06] undermuz commented on #37
Have same error

[2019-04-18 08:30] neoziro commented on #37
Hello, OK it is a bug. Could someone submit a PR to fix it?

[2019-04-22 02:10] YaoKaiLun commented on #37
It's ok in v0.1.6 but not in v0.1.7.

[2019-04-22 03:31] YaoKaiLun commented on #37
Change "entry: './static/src/index.js'" to "entry: ['./static/src/index.js']"

[2019-04-23 13:40] neoziro commented on #37
Yeah you have to change entry I think, just that.

[2019-04-24 08:25] dehghani-mehdi commented on #37
@neoziro if you can't fix the issue (because of time limit or whatever), at least don't close the issue with simple answer that don't even fix the issue (I guess you are not sure either as you mentioned __I think__ in your answer). obviously I can not change my webpack config just because your plugin likes it that way.

Please don't contribute to open source, but if you do be professional at it. I

[2019-04-29 11:55] neoziro commented on #37
Hello @dehghani-mehdi, if you are not happy feel free to fix this plugin with a PR or simply don't use it.

[2019-04-29 17:58] dehghani-mehdi commented on #37
@neoziro, Hi,don't worry, I don't use your plugin anymore, I mentioned that in my prev comment.

[2019-04-29 18:20] neoziro commented on #37
I don’t worry 🤗

[2019-04-30 09:22] dehghani-mehdi commented on #37
Good for you ;)

[2019-05-18 22:55] bencooper222 opened #40 "Is this package considered stable?"
I'm not sure if it's intentional or not but the fact that the package version is 0.y.z means that any change is considered a major semver change (https://semver.org/#spec-item-4) which interferes with automatic dependency management tools (like npm update) which tend to strictly follow semver.

If you consider this package stable, please consider incrementing to version 1!

[2019-05-18 23:25] #40 closed

[2019-05-21 17:15] Mefu opened #41 "Sock path is no longer hardcoded in webpack"
Code [here](https://github.com/smooth-code/error-overlay-webpack-plugin/blob/master/src/entry-devserver.js#L14-L15) is not correct anymore.

`webpack-dev-server` has `sockPath` option since 3.2.0 and `sockHost, sockPort` options since 3.4.0. It would be nice if this plugin can get options from webpack config, or at least allowed these to be customizable so user can set both options same.

[2019-05-23 08:06] neoziro commented on #40
Yeah I should consider releasing it as stable.

[2019-05-23 09:39] neoziro commented on #41
Oh you are right, could you submit a PR to fix it?

[2019-05-23 16:27] bencooper222 commented on #40
Yeah, I closed the issue because I found out that npm handles stuff slightly different from the semver spec. The semver spec states that when your version is 0.y.z, incrementing y or z is breaking. npm (and probably yarn?) look at most significant digit. So, if the first digit = 0, then incrementing y is a major update and incrementing z is minor.

[2019-05-25 14:59] Mefu commented on #41
Closing issue, since you've merged my PR.

[2019-05-25 14:59] #41 closed

[2019-06-17 06:32] dehghani-mehdi commented on #37
To anyone who like to have error overlay without `error-overlay-webpack-plugin`, the solution is very simple, just run `npm i react-dev-utils -D` and change the `entry` option of your `webpack.config.js` to: `[require.resolve('react-dev-utils/webpackHotDevClient'), './index.jsx']`, I'm using this method for months.

[2019-06-17 09:41] #37 closed

[2019-06-17 09:45] neoziro commented on #37
@dehghani-mehdi feel free to submit a PR with an upgraded version of `react-dev-utils`. I see that there is a new version but I don't have enough time to test if everything work on `react-dev-utils` v9.

[2019-06-17 10:53] dehghani-mehdi commented on #37
@neoziro I cloned `error-overlay-webpack-plugin`, without any change the provided example works fine (_of course I changed `const ErrorOverlayPlugin = require('../lib')` to `const ErrorOverlayPlugin = require('../src')`_). also I updated `wabpack` packages and again everything works fine. I think I have to test the code with one of my projects. If I do (_and could fix the problem_), I'll post the

[2019-06-18 10:39] dehghani-mehdi commented on #37
Looks like it already fixed by https://github.com/smooth-code/error-overlay-webpack-plugin/pull/43

[2019-06-18 13:00] neoziro commented on #37
Good!

[2019-09-16 14:06] skirankumar7 opened #51 "hot loading is slow & taking long time to to display error message"
**Found that delay while using this plugin.**

**I think more of the reason is devtool option
devtool: 'cheap-module-source-map'**

https://webpack.js.org/configuration/devtool/

**kindly refer this screenshot.**

**Will it is possible to make it work with devtool option which is built and rebuild options is fast and faster**

**Basically I have a question is like what is the dev tools do and what

[2019-09-17 17:36] skirankumar7 opened #52 "Total app is reloading after error thrown from the plugin why"
Total app is reloading after error thrown from the plugin why

[2019-09-23 01:39] itotoo opened #53 "In Mac OS system, the vscode editor cannot be opened by browser error, and there is no prompt"
In Mac OS system, the vscode editor cannot be opened by browser error, and there is no prompt

[2019-09-24 07:28] neoziro commented on #51
Hello @skirankumar7, to be honest I don't have the answer. If someone want to investigate it and find the answer he is welcome.

[2019-09-24 07:29] neoziro commented on #52
Hello @skirankumar7, I don't know why.

[2019-09-24 07:29] #52 closed

[2019-09-24 08:20] neoziro commented on #53
Yeah, help is welcome!

[2019-11-07 19:15] bertho-zero commented on #21
This is a CORS issue, we should be able to overload the sockOptions. (withCredentials and Access-Control-Allow-Origin)

[2019-11-29 14:55] ronanb80 opened #54 "404 when calling open-stack-frame-in-editor"
I get a 404 error when clicking on the code displayed in the overlay. I am testing this plugin out on a basic project created in TypeScript using Webpack 4 and Webpack server dev 3.9.0.

webpack.config.js:
[code]

Console output:
![Capture](https://user-images.githubusercontent.com/35688313/69876712-30c94280-12b8-11ea-811e-66d82db91a6c.PNG)

[2020-01-07 08:18] kacpak opened #56 "Does it work with webpack-hot-middleware?"
I'm using multi-compiler build with express and webpack-dev-middleware + webpack-hot-middleware.
I've added this plugin for each webpack config but I only see the native webpack-hot-middleware overlay. Is there something more that needs to be done? Or right now there is no support for this configuration?
Maybe this can be added? I could try to help if someone pointed me at what needs to be done to

[2020-03-13 17:26] ntucker opened #57 "Anyway to not trigger this for all errors?"
It would be great to not have an invasive overlay appear for *every* error. If we could specify a function that filters out errors we want to pass through this would be super useful.

We throw network errors, which get caught and handled by our error boundaries. So we'd like to not see overlays in this case, which is considered working perfectly:
[code]

[2020-03-14 13:04] gregberge commented on #57
Hello @ntucker, PR welcome for this feature.

[2020-03-27 20:02] KevinGruber commented on #56
I have the same problem. I only see the hot-middleware-overlay

[2020-03-29 18:56] saneq1 opened #60 "does not go to the editor when clicked"
it shows errors but if you click in the browser it doesn't go to the code editor
[code]

[2020-04-16 18:09] aditya2337 commented on #60
Did someone find a solution to this?

[2020-04-17 05:55] saneq1 commented on #60
no

[2020-10-14 02:16] fwh1990 opened #67 "Webpack 5 support"
As we know `wepback@5` had been published some days ago, I hope that you can update `error-overlay-webpack-plugin` to compatible with latest webpack, thank you

[2020-10-19 06:56] muenzpraeger opened #68 "Update dependencies for security reasons"
Hello!

This package hasn't seen any dependency updates since some time, which may lead to security issues. It would be great if we can get a more recent version published, that is up-to-date (must not necessary with webpack5, but at least the other deps).

Thanks!

[2020-10-26 07:23] ogusti opened #69 "Plugin does not work with webpack 5"
Everything works fine in `"webpack": "^4.1.3"`.
In `"webpack": "^5.1.3"` this error appears:

<img width="525" alt="Screen Shot 2020-10-26 at 10 19 04" src="https://user-images.githubusercontent.com/32015285/97144026-cdb88800-1774-11eb-820d-1e54f155fb37.png">

[2020-10-28 06:58] gregberge commented on #69
Not a surprise! I will not fix it on my own, if someone is interested, feel free to submit a PR.

[2020-10-28 06:59] gregberge commented on #68
Hello @muenzpraeger, I currently don't have time to maintain it, feel free to submit a PR to update deps.

[2020-10-28 07:00] gregberge commented on #69
Duplicate of #67

[2020-10-28 07:00] #69 closed

[2020-10-28 07:00] gregberge commented on #67
Not a surprise! I will not fix it on my own, if someone is interested, feel free to submit a PR.

[2020-11-02 22:35] #68 closed

[2020-11-20 19:13] omgoshjosh commented on #60
so i actually just brought in all of react-dev-utils because its 2020 and the singularity is gonna happen soon anyway so why worry about performance or bundle size etc...

anyway, i have found what is working for me is based on a few things.

1. https://github.com/facebook/create-react-app/issues/2344#issuecomment-303678582
   a. first i tried what dan abramov (gaeron) says in this issue, using re

[2020-11-25 15:54] JamesGelok commented on #67
help wanted tag should be on this issue

[2020-11-30 20:51] xandris commented on #68
Can we please get a new release?

[2020-12-01 02:16] changkem commented on #67
it depends on react-dev-utils...but react-dev-utils not support webpack5 till now. see https://github.com/facebook/create-react-app/issues/9994

[2021-01-17 23:20] dlimx commented on #67
`react-dev-utils` has removed it here https://github.com/facebook/create-react-app/pull/10198, waiting on release now

[2021-01-24 20:39] cinderblock opened #71 "Feature Request: Publish TypeScript Types"
Webpack supports `webpack.config.ts` these days. It would be very helpful to publish some typings. Ideally, these would be bundled in this package in the published sources.

Alternatively, one could (independently) publish to DefinitelyTyped to provide the types.

What is the appetite here for either:
1. Converting `src` to TypeScript
2. Adding hand created `.d.ts` files

[2021-02-01 18:00] jonambas commented on #68
@gregberge New release please? 😄

[2021-02-02 18:31] gregberge commented on #68
Done!

[2021-04-11 15:41] Mitsunee commented on #67
for whatever it's worth I just went ahead and installed error-overlay-webpack-plugin in a local repo and it appears to be working fine there despite the warning yarn showed upon installing. If chalk getting introduced into the browser by a dependency was the only problem this seems to be fixed now.

[2021-04-14 08:51] chang-ke commented on #67
Now I submit a PR

[2021-05-06 16:14] Redirts opened #73 "react-dev-utils uses a vulnerable version of browserslist as a dependency"
error-overlay-webpack-plugin uses a version of react-dev-utils that has unsafe browserslist version.
We will need this fixed first: https://github.com/facebook/create-react-app/issues/10928

[2021-06-20 14:13] hessaam opened #74 "error-overlay-webpack-plugin doesn't work correctly"
My react project wasn't created by `create-react-app` . I used `error-overlay-webpack-plugin` as it was described in [this](https://www.npmjs.com/package/error-overlay-webpack-plugin) documentation, but I can not see my app errors with style.

[2021-08-01 22:31] SkymanOne commented on #8
I still have the same issue with webpack 4 and react. Have you managed to fix it?

[2021-08-24 14:31] SkymanOne opened #75 "Iframe does not load"
I get an error when using webpack 5 with this plugin.

The chrome error console says:
`Error: Iframe has not been created yet.`

[2021-08-25 21:13] vjpr opened #76 "Missing `querystring` dep in `package.json`"
EDIT: Seems this explains it:

[code]

[2021-08-25 21:17] #76 closed, assigned to nobody

[2021-08-30 07:18] gregberge commented on #75
Fixed in v1.0.0.

[2021-08-30 07:18] gregberge commented on #74
Should be fixed in v1.

[2021-08-30 07:18] #74 closed

[2021-08-30 07:20] gregberge commented on #73
Everything is up to date here, please reopen this issue when the problem will be fixed in the other package, thanks!

[2021-08-30 07:20] #73 closed

[2021-08-30 07:34] gregberge commented on #67
Fixed in v1

[2021-08-30 07:34] #67 closed

[2021-08-30 07:34] gregberge commented on #17
Will not happen.

[2021-08-30 07:34] #17 closed

[2021-08-30 07:36] gregberge commented on #56
@vjpr answered.

[2021-08-30 07:36] #56 closed

[2021-08-30 07:36] gregberge commented on #53
Outdated.

[2021-08-30 07:36] #53 closed

[2021-08-30 07:36] gregberge commented on #28
Looks like it is fixed, feel free to reopen.

[2021-08-30 07:36] #28 closed

[2021-08-30 07:37] gregberge commented on #35
@vjpr answered.

[2021-08-30 07:37] #35 closed

[2021-08-30 07:37] gregberge commented on #54
Outdated, feel free to open a new issue it if you meet that bug.

[2021-08-30 07:37] #54 closed

[2021-08-30 07:37] gregberge commented on #21
Outdated, feel free to open a new issue it if you meet that bug.

[2021-08-30 07:37] #21 closed

[2021-08-30 07:38] gregberge commented on #27
Outdated, feel free to open a new issue it if you meet that bug.

[2021-08-30 07:38] #27 closed

[2021-08-30 07:38] gregberge commented on #33
Fixed

[2021-08-30 07:38] #33 closed

[2021-08-30 07:38] gregberge commented on #51
Outdated, feel free to open a new issue it if you meet that bug.

[2021-08-30 07:38] #51 closed

[2021-08-30 07:38] gregberge commented on #57
Outdated, if needed please open a new issue.

[2021-08-30 07:38] #57 closed

[2021-08-30 07:39] gregberge commented on #60
@vjpr maybe we could find a way to make it work by default?

[2021-08-30 07:39] gregberge commented on #71
Typing what? There is only one class exposed 😅

[2021-08-30 07:39] #71 closed

[2021-08-31 18:42] bahtou opened #82 "npm -i does not install a 'src' directory"
Following the instructions in the README:

`npm i --save-dev @types/error-overlay-webpack-plugin`

Then in my webpack config I do:

[code]

When I start the `webpack-dev-server` I get this error:

[code]

I look into the `node_modules/error-overlay-webpack-plugin` folder but I only find `dist` and not `src`.

[2021-09-01 13:38] SkymanOne commented on #75
the problem still persists.
When error occurs, no logs are displayed and console still says `Error: Iframe has not been created yet.
![](https://i.imgur.com/Bk311FE.png)

The chrome shows the same thing.

I am using custom setup with web pack, HtmlWebpackLoader and webpack-dev-server

[2021-09-06 07:23] gorkunov opened #83 "Options has an unknown property 'before'"
Seems overlay doesn't work with latest `webpack-dev-server` v4.1.0.

Error:
[code]

this line is broken: https://github.com/gregberge/error-overlay-webpack-plugin/blob/6e627654d3f824e46710b31b1b3bbc361bbd441e/src/index.js#L27

[2021-09-09 19:37] cinderblock commented on #71
So, would you reject a PR that adds them?

[2021-09-12 20:14] gregberge commented on #71
No I will accept it.

[2021-09-13 04:27] WizardCM commented on #83
I can confirm I ran into the same issue today.

[2021-09-14 03:24] thedavidprice commented on #83
Confirming this bug as well when trying to upgrade on RedwoodJS, which is using Webpack v5 and Webpack-dev-server v4 (compatible with v5).

There were many breaking changes in devServer v4:
- https://github.com/webpack/webpack-dev-server/blob/master/migration-v4.md

Looks like this change [here](https://github.com/webpack/webpack-dev-server/blob/master/migration-v4.md#-breaking-changes):

...is po

[2021-09-17 12:17] gregberge commented on #83
Hi, could someone work on a PR to fix it?

[2021-09-17 15:41] thedavidprice commented on #83
If someone can lead on the PR, I am available to help with questions and diagnosing issues. Just loop me in if/as needed.

[2021-11-29 08:59] MichaelKheel commented on #83
Guys, please make a merge.

[2021-12-17 14:37] smart-coder-ru opened #89 "Can i use it with laravel mix?"
I need to show errors on display, but i want to use laravel mix, can your extension show errors with laravel mix?

[2021-12-22 20:44] xandris opened #90 "Uses vulnerable version of react-dev-utils"
`react-dev-utils` < 12 [depends on a vulnerable version of `immer`](https://github.com/facebook/create-react-app/issues/11660). 12.0.0 fixed this issue. This is a major version upgrade though.

[2021-12-29 05:10] haquezameer opened #91 "Uncaught ReferenceError: process is not defined"
Recently started getting the above error when using the `error-overlay-webpack-plugin`. It is probabaly happening due to [this](https://github.com/facebook/create-react-app/issues/11773) issue on `react-error-overlay` since `error-overlay-webpack-plugin` does not pin `react-error-overaly` to `6.0.9` so now new installations are getting the latest `react-error-overlay@6.0.10`.

Possible to do any f

[2022-02-01 21:06] joshgoebel commented on #8
Where is this file you're changing?  I'm having this same problem with React 17 with a freshly created app with react-create-app and it's driving me nuts... but the project doesn't really have much in the way of configs other than `package.json`, I assume it's all hidden deep inside react-scripts or some such.

[2022-02-02 10:17] alextrastero commented on #8
@joshgoebel my message is from 2018. AFAIK with create-react-app you would need to eject in order to have a custom webpack config, actually with create-react-app you don't need this webpack plugin... 🤔

[2022-02-02 18:08] joshgoebel commented on #8
It seems the error reporting is still there, it's just been changed to support fewer cases that before (now they instead log to console)... I found another issue where people are discussion the merits of the change since it seems like a step backwards in some ways vs what we had prior.

[2022-02-09 08:43] eimantaszlabys commented on #91
I also get this error :( When this issue will be fixed? Maybe there is some other way to solve this issue?|

[2022-02-12 17:04] gregberge commented on #89
I don't know, I am sorry.

[2022-02-12 17:04] #89 closed

[2022-02-12 17:04] #75 closed

[2022-02-12 17:04] #60 closed

[2022-02-12 17:07] #90 closed

[2022-02-12 17:07] #91 closed

[2022-02-12 17:07] #82 closed

[2022-02-21 02:12] snitin315 opened #94 "Deprecation warning log from webpack-dev-server."
We have a deprecation warning log too, coming from `webpack-dev-server`, [because of the usage of deprecated option `onBeforeSetupMiddleware` in the `error-overlay-webpack-plugin`](https://github.com/gregberge/error-overlay-webpack-plugin/blob/8aa4edf623e1a893933334367d10c17c525a62a0/src/index.js#L40)

<img width="1138" alt="Screenshot 2022-02-21 at 7 18 55 AM" src="https://user-images.githubuserc

[2022-02-23 09:35] snitin315 opened #96 "compatibility with both `ws` and `sockjs`"
Currently, the plugin is using the `sockjs-client` for devServer which was default in `webpack-dev-server@3`.

https://github.com/gregberge/error-overlay-webpack-plugin/blob/8aa4edf623e1a893933334367d10c17c525a62a0/src/entries/devserver.mjs#L4
https://github.com/gregberge/error-overlay-webpack-plugin/blob/8aa4edf623e1a893933334367d10c17c525a62a0/src/entries/devserver.mjs#L13-L19

`webpack-dev-serv

[2022-03-09 14:55] FrozenKiwi opened #97 "Cannot import into webpack.mjs"
When importing into an esm module:
[code]

The index.mjs file is implemented as:
[code]

This seems like an invalid import.  I don't think it is related to https://github.com/gregberge/error-overlay-webpack-plugin/pull/93, as this appears to be updating `.cjs` files, rather than `.mjs`.

For my workaround, in my webpack I have created a shim `error-overlay-shim.js` file that to force the import of

[2022-03-18 10:22] WinmezzZ opened #98 "error with webpack 4"
when using webpack 4, tip this error:

 webpack Dev Server Invalid Options

options should NOT have additional properties

[2022-04-21 20:53] TowhidKashem opened #99 "Uncaught Error: Iframe has not been created yet."
Hi,

I'm trying to use this on a React (not CRA) project using a custom webpack config. I implemented it as shown in the README but when I navigate to a test page that has an error I get a blank screen and this error in the console:

<img width="628" alt="Screen Shot 2022-04-21 at 3 48 34 PM" src="https://user-images.githubusercontent.com/1139927/164550080-1a541391-aff2-41c6-9e32-e6f8aa3c75cc.png"

[2022-05-12 07:28] qq281113270 opened #100 "CORS bug"
This is what happens when I use your plugin  Access to XMLHttpRequest at 'http://192.168.213.19:8089/ws/info?t=1652340463496' from origin 'http://localhost:8089' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2022-05-25 10:11] turisap opened #101 "Absent type def for the plugin"
If webpack configuration is written in typescript, then there is an error on the absent type definitions.

[2022-08-14 22:56] Kaizer69 opened #103 "DeprecationWarning: 'onBeforeSetupMiddleware' option is deprecated."
Hello! The current middleware on "onBeforeSetupMiddleware" pipeline is deprecated.

DEP_WEBPACK_DEV_SERVER_ON_BEFORE_SETUP_MIDDLEWARE] DeprecationWarning: 'onBeforeSetupMiddleware' option is deprecated. Please use the 'setupMiddlewares' option.

[2022-08-18 14:07] arananegra commented on #103
Yeah, facing the same issue

[2022-08-19 20:14] Kaizer69 commented on #103
#94

[2022-09-05 10:03] Herz3h commented on #98
Same problem here, whats the fix ?

[2022-09-05 10:14] Herz3h commented on #29
Is this a CRA specific plugin ? Doesn't seem to work with webpack 4 + vuejs 2

[2022-09-26 12:15] maxbronnikov10 commented on #101
+

[2022-10-07 19:31] Ibrahimrahhal opened #104 "SSR Support?"
Ive tried to use this plugin within my SSR bundle config & It seems to be not supported on the server side with this error:-
`window.__REACT_ERROR_OVERLAY_GLOBAL_HOOK__=window.__REACT_ERROR_OVERLAY_GLOBAL_HOOK__| {},window.__REACT_ERROR_OVERLAY_GLOBAL_HOOK__.iframeReady=function ({re=!0,te=!1,ve()},"production"===process.env.NODE_ENV&&console.warn("react-error-overlay is not meant for use in produ

[2022-10-08 05:18] gregberge commented on #104
I am sorry, I don't actively maintain this project. Feel free to submit a PR to fix it, else I can't help.

[2022-11-13 12:57] giladgd commented on #96
Until my fix PR (#105) is merged you can use this workaround:
[code]

This will install a branch I created with the fix and with compiled files to make it work properly as a node module

[2022-11-14 09:36] #96 closed

[2022-11-14 09:36] #94 closed

[2022-11-16 03:22] #99 closed

[2022-11-30 19:37] carlosrberto commented on #98
Is this package compatible with Webpack 4? I have the same issue.
If it is not compatible would be nice to mention in the README and remove Webpack 4 from `peerDependencies`.